current_workflows_v2.json
[{"updatedAt":"2025-12-05T09:24:18.000Z","createdAt":"2025-11-29T17:34:06.134Z","id":"cGBNSBaYpyxndXSG","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"b882dfc2-fb52-4cca-9c6f-792e79856a72","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"messages-api","instanceName":"zaptFinance","remoteJid":"5587991201718@c.us","messageText":"Teste automático Evolution API + n8n!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[208,0],"id":"61534b54-374f-41ea-b69e-25a88ae7684c","name":"Enviar texto","credentials":{"evolutionApi":{"id":"PWu08iOEfI6oDJRn","name":"Evolution account 2"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"274afe97-34a9-4d2b-bbf1-16f45c51b09a","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-29T17:34:06.177Z","createdAt":"2025-11-29T17:34:06.177Z","role":"workflow:owner","workflowId":"cGBNSBaYpyxndXSG","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-05T09:24:26.000Z","createdAt":"2025-11-29T17:48:31.944Z","id":"q4Lo604ZT2OBm7qQ","name":"My workflow 2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"a609d079-1473-4cf6-9693-d898db7db473","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"messages-api","instanceName":"zaptFinance","remoteJid":"5587991201718@c.us","messageText":"teste","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[416,0],"id":"06f4e156-2afe-4c37-80d4-f1798a1bef5b","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"PWu08iOEfI6oDJRn","name":"Evolution account 2"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3d0ea7f2-a250-4501-bb56-c60b0bafcd27","versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-29T17:48:31.953Z","createdAt":"2025-11-29T17:48:31.953Z","role":"workflow:owner","workflowId":"q4Lo604ZT2OBm7qQ","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-05T09:24:10.000Z","createdAt":"2025-11-30T11:13:30.516Z","id":"XdBdA5VvsJcXzEod","name":"My workflow 3","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"2e2fa2ff-782f-4162-9970-0b69b6388c1c","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"messages-api","instanceName":"zaptFood","remoteJid":"558791201718@c.us","messageText":"Testando mensagem","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[208,0],"id":"8455dc64-b427-45b9-959e-79acb54fe226","name":"Enviar texto","credentials":{"evolutionApi":{"id":"yLe9omZ6iMQLwnFA","name":"zaptFood"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb35d6e2-ff1b-4907-9020-2fc69f926f28","versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-30T11:13:30.539Z","createdAt":"2025-11-30T11:13:30.539Z","role":"workflow:owner","workflowId":"XdBdA5VvsJcXzEod","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-05T09:24:02.000Z","createdAt":"2025-11-30T13:18:25.203Z","id":"8Qw37YWwDtKfrpcv","name":"My workflow 4","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"b21b9ac0-8006-4556-9079-0a1dd8570e3e","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"messages-api","instanceName":"zaptfood","remoteJid":"5587991201718@c.us","messageText":"Testando mensagem","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[208,0],"id":"23fb3912-e5e1-441f-b0e8-4ca56e1eaf87","name":"Enviar texto","credentials":{"evolutionApi":{"id":"yLe9omZ6iMQLwnFA","name":"zaptFood"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fef3ab79-f646-493d-af66-9ab0cab8e73a","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-30T13:18:25.233Z","createdAt":"2025-11-30T13:18:25.233Z","role":"workflow:owner","workflowId":"8Qw37YWwDtKfrpcv","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-03T00:02:56.000Z","createdAt":"2025-12-02T23:01:54.528Z","id":"wsr35TKHKhfQl0RG","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"97d537a1-2ede-4a44-9a13-ac599089666b","webhookId":"f833f062-f71e-407b-95bc-ac6a27942417"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"fa9645f1-a51d-48b5-b319-08550702fea3"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"ce684e49-701f-495c-a080-4499254c77c9","continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"0f372cfe-47bf-4951-8f74-b69b2302ad80"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\d+ \\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"d931e6ae-cd56-4f48-b900-ae977c3f2c7f"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"6aaff383-0261-4606-96ed-133c2c1dfbef"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"2a52489f-5812-4a15-8965-00e71f74d1ab"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"c44fd45a-097b-4b21-8da2-a9682d0484a6"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"f019ca2d-32b7-46f5-8c3e-7aa115b9f6ab"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"2b504fec-bdbd-4981-905c-713936ca0148"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"9d9cadbf-a096-46c8-aebb-a787d47b1237"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"c686fc95-bf42-40d7-9e8d-96e79ec8086f"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"c0a3c89b-13ca-4a25-8ee2-4d7737c75df3"},{"parameters":{"functionCode":"const items = items[0].json;\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (items.length === 0) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  items.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${item.price.toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nreturn { text };"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"0b51877d-e553-4572-9773-28779cc399d4"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"2edc0312-f278-4d74-bdc5-0cf5a0fe4bbe"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"8c280fa8-f2e4-4d6f-ab07-9258b9e03163"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a4c2654e-34ba-448a-9637-ca944fcfda78","versionCounter":5,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-02T23:01:54.674Z","createdAt":"2025-12-02T23:01:54.674Z","role":"workflow:owner","workflowId":"wsr35TKHKhfQl0RG","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-03T00:11:02.000Z","createdAt":"2025-12-03T00:03:21.975Z","id":"i3X4YPxQO8L9ftnv","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"b0eff04e-9d92-45be-bbab-f62385d34b92","webhookId":"c0d90893-9b5d-4aae-9cd2-d00d97b95432"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"593e1712-0f51-4e84-a451-1559b88a1ee4"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"bd87f399-bd5e-4478-abe3-d81b750ca7b4","continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"3e557a15-acf5-45fb-ba9e-975bbb6b5d28"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\d+ \\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"015c737e-ebfc-46fc-99a1-b390844860f0"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"a30c67f0-cd18-4f19-b7c4-788a3280bab2"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"82678b87-5c9a-469a-ac82-bbd56d046ccc"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"dff30abe-8032-42c7-bca5-a3e0fe68f941"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"041d94d6-508e-450c-bf83-1229d28ed5ff"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"5dca06d6-f1e4-414c-a667-e0dc2122782b"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"e80ff62d-0f3b-4a52-ac45-f50eb0ed8850"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"786c16e1-5d08-46e4-8a28-5a56ff07f9c6"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"9e2abb56-9101-4e22-9bb7-4b2834ce3f11"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nreturn [{ json: { text } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"b9d21c2f-c88e-42b3-ba2a-2a7027ab3b6d"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"e742e0c5-16a3-4a98-8416-d0682cd2d88b"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"da5f4c0f-32e3-4f3f-bcd7-4f21b8de51f1"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b60e9518-bc4e-42f2-b44a-5ffdb07ebf03","versionCounter":5,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-03T00:03:22.016Z","createdAt":"2025-12-03T00:03:22.016Z","role":"workflow:owner","workflowId":"i3X4YPxQO8L9ftnv","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-03T00:20:16.000Z","createdAt":"2025-12-03T00:11:35.782Z","id":"WOBMiSCs6l2tzCl3","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"6153eaca-eae0-4157-bac6-52d25e1f5d33","webhookId":"668acedf-6dd6-4b39-aa06-b3198f9eaa8d"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"5b9fa97b-cc16-4505-af9e-69e8193ea6c6"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"fc20f5e8-3c3e-4238-8ad9-2e11e2e2597e","continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"8db9a704-f4bd-4c9c-a914-0873cabbd97e"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\d+ \\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"b5acf661-c98f-479b-b0aa-95a75def51d0"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"8b51b1f9-7d7e-47e8-9f4c-d3bfe6a59e5c"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"71cb424f-b18e-4ecc-af75-28991e8d44a9"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"c635620d-9882-4836-8746-23c0f1fded24"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"634b23cd-196b-483d-a09f-0838de8fccd4"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"4ea1c467-ca75-452b-b459-b03541ed76be"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"f85e8c1d-6745-4259-8f10-3f3f5085b16e"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"00c737cb-f720-4fa1-b44a-9643ccc68b63"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"46adbb1d-2a2d-4142-8ff7-6b71c4dba443"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nreturn [{ json: { text } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"2aed1f0b-03c2-4640-a794-ff637a36fecf"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"21d6d976-63d3-4b52-8ec4-5f79085e45b0"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"4aabb9a8-6a5c-40f9-b294-eb11ad1fd86f"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"03951e8e-770b-4b24-aafb-d5de43d72bb6","versionCounter":5,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-03T00:11:35.804Z","createdAt":"2025-12-03T00:11:35.804Z","role":"workflow:owner","workflowId":"WOBMiSCs6l2tzCl3","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-03T00:24:48.000Z","createdAt":"2025-12-03T00:20:46.871Z","id":"ExnLuj1rVay7uJAe","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"8a3f58c1-8ece-495c-97de-9aed83e00904","webhookId":"f28b5f4d-7772-4b34-a0b8-f7cd97bb5b16"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"39dbc4bd-3959-4f43-a511-a0e1e1a5a7e0"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"324656ff-9808-4727-8386-897d2ce74823","continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"c7ca765c-ff8e-43c6-b6b1-b7f71f26dfb3"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\d+ \\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"294604b2-226a-4888-b3ab-c4e28461600e"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"49cea40e-7e6a-414e-ab22-2d6cf44551c8"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"98ffe4e9-6a21-4c34-985b-53b277d491d1"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"e250cb33-be2e-4dcb-aac8-91ceeb76af83"},{"parameters":{"url":"http://host.docker.internal:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"531f73e0-b01d-4476-953f-4bea2b41ad6e"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"90aac4fc-b7b1-44d4-9a3c-9ba1ab72d246"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"49b1788f-013d-40c7-921b-63fac9cc6c02"},{"parameters":{"url":"http://host.docker.internal:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"f419f6ac-745b-4883-8cc0-b80f622da232"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"33d76528-6450-40f9-93d1-87ac637a4637"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nreturn [{ json: { text } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"4d1eb322-5b51-43c1-bd87-303c45fd0945"},{"parameters":{"url":"http://host.docker.internal:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"5460ad2c-96eb-4332-bef9-c768754c8ddf"},{"parameters":{"url":"http://host.docker.internal:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"270f2fd2-7323-4861-8542-c69c8bdd4c32"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"86583d4e-53e5-40ac-97f3-feeabd69d605","versionCounter":5,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-03T00:20:46.889Z","createdAt":"2025-12-03T00:20:46.889Z","role":"workflow:owner","workflowId":"ExnLuj1rVay7uJAe","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-03T00:29:45.000Z","createdAt":"2025-12-03T00:25:19.121Z","id":"LBEtNtCDSra75sj9","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"570cb5d5-46d8-48f7-a24e-6b0aa02e69a0","webhookId":"86fb0c97-2393-47c4-b14b-31b8e728ce6d"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"00cd756c-d2a7-4872-91a8-871d2321009e"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"66f0c9c9-fcb5-4a85-ae36-721406690f3d","continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"794480d2-0fef-4c77-ac1b-aaad4eea7e85"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\d+ \\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"95c6c9c5-1db5-4602-9965-768d81453e79"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"ca228ff3-60fb-4ea3-a35b-1e210fa56985"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"cdd53705-077d-46ba-b696-26137958d095"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"b5120e39-8809-4db0-9d19-4feb9be51c12"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"bfb576f8-3f47-45e0-bda6-06516815fdef"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"cc83bd59-fddc-4fdf-a1e9-3219990e3ab6"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"79db50ab-a85c-4313-917f-a4a63aa8d94d"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"7a6045f7-3cf1-4e06-be27-639ca5475ba7"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"09af9b78-58de-4fca-af96-63b429d38cf2"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nreturn [{ json: { text } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"6ca11407-be04-4132-8b69-433d1c8a9a29"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"c05852e8-2557-4444-adca-9717c18de73f"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"c52f2392-22a1-4c34-bbc0-27fa9fd8fc8c"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3a150edb-5c71-49af-b26e-c9c7b0b2609d","versionCounter":5,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-03T00:25:19.158Z","createdAt":"2025-12-03T00:25:19.158Z","role":"workflow:owner","workflowId":"LBEtNtCDSra75sj9","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-03T00:53:00.000Z","createdAt":"2025-12-03T00:30:14.913Z","id":"VPyeuBHXDzHbWUE1","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"9fd5a66d-8072-4b89-befa-abeafddcb49a","webhookId":"5973381f-c6b6-42be-be35-bbc1057379c5"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"81cdcaf5-ac32-4bd7-bb65-40d5241562d0"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"2242daa3-df96-4e56-b7d2-e3039eb7b929","continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"3f690ecc-4620-4918-ac3c-e939a66f411e"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\d+ \\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"ec54bbcb-b91a-4a9f-98a5-02d97c2cbad5"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"a7282748-2348-4b54-8d27-40c6dcbd227f"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"3e198a28-9003-4e3f-91fd-f813c8490237"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"ac53aafb-b449-46b3-b7dc-7d670d4ffe27"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"2d5b17a0-382a-4918-bf12-eb8ee9f6b83c"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"5b4be3b0-5d64-4b3b-9fd2-39f659eeb2fc"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"4ccaf0a2-e437-492c-ac62-67a65fb33139"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"3e0138a1-9ca9-4b67-bbbd-60908091864c"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"a9cc41d0-3943-484b-975c-c0a12200aaab"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nreturn [{ json: { text } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"5d4e3fdc-586c-4265-9ca7-e0a83c4235c0"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"8932b0be-52a1-4518-9b4b-8581b5651dc7"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"7d49ca47-039e-4c35-b189-69ad10fb285c"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4a01b2f7-e4ba-4920-b133-848b2b1aea55","versionCounter":5,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-03T00:30:14.977Z","createdAt":"2025-12-03T00:30:14.977Z","role":"workflow:owner","workflowId":"VPyeuBHXDzHbWUE1","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-03T07:21:50.000Z","createdAt":"2025-12-03T00:53:29.365Z","id":"ZlJEudKbESiw2ewO","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"c392b7f6-4859-4045-997f-e6d0e0caa050","webhookId":"fb345d9b-8a5c-4ae1-b010-d5a9ccae7fa5"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"99c8673f-189e-412e-a7c6-cf9a774f3571"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"836d08f3-9263-4f74-b715-9e1606683375"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"64c5bb1a-6f64-4818-8683-f37eb0af7190"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\d+ \\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"7ea03510-f619-43ce-bd2f-ab263a1abc3f"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"63966903-721b-4267-9426-9c12343bcc57"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"9af481ee-e5d9-4c37-942b-826ccdc94cc0"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"bbf71777-29f3-426f-aa60-8586d2128096"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"5b0f4e77-9f82-4e4c-acef-d5afa677a3d9"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"9f3d0440-5c7f-4f90-849f-665271db3da3"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"376de503-cbbc-4a67-acd8-ae19e4e79329"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"62c7da3e-9181-4682-82ec-0f42cc5322ba"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"ca362284-82d7-477b-96ef-ffc2885cc600"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nreturn [{ json: { text } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"fe692f8b-efd2-4c15-9f90-1ad85fd6e1f3"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"4e8b8b59-e07a-4b98-85c7-aebbd8b715b9"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"8e4e4944-ffc2-4d2f-9f9a-694d59c217e4"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^\\d+$"}]}},"name":"Is Order?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,912],"id":"a99a9823-582f-40db-9b5d-6efdc78f25b3"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog Order","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-48,912],"id":"22895f6b-d4ec-4c02-92fe-3110c488a483"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst index = parseInt(msg) - 1;\nconst products = items[0].json;\n\nif (index < 0 || index >= products.length) {\n  return [{ json: { error: 'Opção inválida' } }];\n}\n\nconst selected = products[index];\nreturn [{ json: {\n  listing_id: selected.id,\n  customer_phone: $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', ''),\n  qty: 1\n} }];"},"name":"Pick Item","type":"n8n-nodes-base.function","typeVersion":1,"position":[160,912],"id":"30924938-7b30-4f6c-a181-175295428571"},{"parameters":{"url":"http://host.docker.internal:3000/api/orders","options":{}},"name":"Create Order API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[352,912],"id":"68a89c3b-c507-4113-b38e-d6e11d536c98"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Intro","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[560,912],"id":"e3a5079c-83a5-48aa-ba69-cb07f82b7780"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Code","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[752,912],"id":"712ccd39-cba5-4627-a56e-693dfedfcc17"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Is Order?","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]},"Is Order?":{"main":[[{"node":"Get Catalog Order","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Get Catalog Order":{"main":[[{"node":"Pick Item","type":"main","index":0}]]},"Pick Item":{"main":[[{"node":"Create Order API","type":"main","index":0}]]},"Create Order API":{"main":[[{"node":"Reply Pix Intro","type":"main","index":0}]]},"Reply Pix Intro":{"main":[[{"node":"Reply Pix Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"25d4b8db-d873-4518-8d8e-739bbaee7778","versionCounter":4,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-03T00:53:29.443Z","createdAt":"2025-12-03T00:53:29.443Z","role":"workflow:owner","workflowId":"ZlJEudKbESiw2ewO","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-03T07:43:33.000Z","createdAt":"2025-12-03T07:22:35.374Z","id":"dVvjh4XbAvHvUryn","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"8b3365c0-902b-4a8e-a6f8-99d1809c87fc","webhookId":"7359c703-bfb5-4a91-ada6-c3bfd1dd2180"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"b253efe1-1b37-4edf-9e2c-631982077531"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{},"queryParametersUi":{"parameter":[{"name":"phone","value":"={{$node[\"Webhook\"].json.body.data.key.remoteJid.split('@')[0]}}"}]}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"036c3480-68f9-4c31-a132-d1b2ad308029"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"fb92e30c-d1eb-4f56-b164-a394549ef64b"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\d+ \\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"f574b1d9-69fb-416d-9eea-d2ed6b7e5827"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"06175a9f-aeca-46a8-b443-6c787666e511"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"a1664c7a-4af5-45a4-83cd-911408cfbada"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"c6fb4666-4b81-40bb-ba17-67ebe7c67885"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"9971ff56-68c4-4c73-a2f2-de87a072a579"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"aee61184-8e7c-464b-beea-647f3ea12837"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"1801cc71-4b4f-4ad9-bf14-f14bd582db23"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"9a2d388e-994f-4f22-aae6-6403f6d3557e"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"e16d447c-a956-4f9a-921c-7e7de0162bf7"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nreturn [{ json: { text } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"0e1f6a1b-efea-48f6-ac21-1e206ce15050"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"518c9846-df3b-43f0-a90f-49dcd5a0944f"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"0cb0838d-e755-4034-bf2e-9eefc3922a3e"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^\\d+$"}]}},"name":"Is Order?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,912],"id":"3b6e2197-d446-443f-868b-d131df4d3771"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog Order","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-48,912],"id":"0854c6b1-c923-4941-8be8-355a3dd4f897"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst index = parseInt(msg) - 1;\nconst products = items[0].json;\n\nif (index < 0 || index >= products.length) {\n  return [{ json: { error: 'Opção inválida' } }];\n}\n\nconst selected = products[index];\nreturn [{ json: {\n  listing_id: selected.id,\n  customer_phone: $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', ''),\n  qty: 1\n} }];"},"name":"Pick Item","type":"n8n-nodes-base.function","typeVersion":1,"position":[160,912],"id":"4886190d-7e66-4d37-a4b9-27b30513e16a"},{"parameters":{"url":"http://host.docker.internal:3000/api/orders","options":{}},"name":"Create Order API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[352,912],"id":"145e15a9-b6de-475e-b2cf-95fb4f074caf"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Intro","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[560,912],"id":"94911f0d-93b8-4ae0-b5be-d4bc58b2c3c3"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Code","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[752,912],"id":"7b5e1627-0d52-42d8-a746-7d8a0526dfff"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Is Order?","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]},"Is Order?":{"main":[[{"node":"Get Catalog Order","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Get Catalog Order":{"main":[[{"node":"Pick Item","type":"main","index":0}]]},"Pick Item":{"main":[[{"node":"Create Order API","type":"main","index":0}]]},"Create Order API":{"main":[[{"node":"Reply Pix Intro","type":"main","index":0}]]},"Reply Pix Intro":{"main":[[{"node":"Reply Pix Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"16664f59-e14b-44be-b2a7-489df76eeb1c","versionCounter":15,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-03T07:22:35.389Z","createdAt":"2025-12-03T07:22:35.389Z","role":"workflow:owner","workflowId":"dVvjh4XbAvHvUryn","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-05T01:29:43.000Z","createdAt":"2025-12-03T07:43:59.739Z","id":"6ubPA5St1tRpAClS","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"209b6077-a7a4-4b5e-98c5-ca9f2b2e51cf","webhookId":"11767fc5-5ead-43f2-ad3d-b02fb8ac221f"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"79f59fee-c99d-4351-9380-58741c5f4206"},{"parameters":{"requestMethod":"POST","url":"http://host.docker.internal:3000/api/vendors/check","options":{},"bodyParametersUi":{"parameter":[{"name":"phone","value":"=={{ $json.body.data.key.remoteJid.split('@')[0] }}"}]}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"1e5ea0d5-de06-4a82-a999-589015689353"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"d4aadd2e-400e-49d5-9e70-17ded01862c3"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\d+ \\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"a6e8e4fd-6360-4896-bc8b-482a38efe4ac"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"6cb617b1-34bb-4485-a1b1-3622b25abc04"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"03149253-abc1-46f2-83e1-537ee6f88429"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"db979d4a-0fd5-44fd-ae34-90258daeea33"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"59f265f6-9c9d-42b5-826f-3af3c140d18a"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"a2f55905-eda7-40a0-b41c-8f1b7d934511"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"34290cd5-f898-4bf7-abd8-5caf8e952349"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"d076a3f5-3c13-4008-87b6-a9fdbd938cff"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"41a467bd-0155-43e1-b499-0590d896b30a"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nreturn [{ json: { text } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"209d94ed-77eb-4981-8826-997dad6f4f98"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"3e2ad041-b2f0-4aa4-8216-949a75901b40"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"f458ddd3-6872-41c5-8ceb-8f833335ec7c"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^\\d+$"}]}},"name":"Is Order?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,912],"id":"5846c6fc-ab88-4c70-b0c5-742acdfc66ff"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog Order","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-48,912],"id":"e4fe0be4-62d7-4590-9668-12a0bb658e04"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst index = parseInt(msg) - 1;\nconst products = items[0].json;\n\nif (index < 0 || index >= products.length) {\n  return [{ json: { error: 'Opção inválida' } }];\n}\n\nconst selected = products[index];\nreturn [{ json: {\n  listing_id: selected.id,\n  customer_phone: $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', ''),\n  qty: 1\n} }];"},"name":"Pick Item","type":"n8n-nodes-base.function","typeVersion":1,"position":[160,912],"id":"5054268b-4664-4418-8aad-61c7c6121bf9"},{"parameters":{"url":"http://host.docker.internal:3000/api/orders","options":{}},"name":"Create Order API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[352,912],"id":"10006a44-d3c1-4ac6-ac8e-1ec15c450ca1"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Intro","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[560,912],"id":"c2cbff17-cfb4-4065-a505-ef32e1ec92e2"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Code","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[752,912],"id":"36fdbddc-f7f7-49ca-9ab2-2940c3ec5e82"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Is Order?","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]},"Is Order?":{"main":[[{"node":"Get Catalog Order","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Get Catalog Order":{"main":[[{"node":"Pick Item","type":"main","index":0}]]},"Pick Item":{"main":[[{"node":"Create Order API","type":"main","index":0}]]},"Create Order API":{"main":[[{"node":"Reply Pix Intro","type":"main","index":0}]]},"Reply Pix Intro":{"main":[[{"node":"Reply Pix Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Check Vendor":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"13946ce5-4526-4ab4-9d36-7c322aa35cf5","versionCounter":11,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-03T07:43:59.794Z","createdAt":"2025-12-03T07:43:59.794Z","role":"workflow:owner","workflowId":"6ubPA5St1tRpAClS","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-03T07:44:25.000Z","createdAt":"2025-12-03T07:44:25.327Z","id":"p3ZUD50wvdiCQ8co","name":"ZaptFood - Vendor Login","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"vendor-login","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-448,112],"id":"2f43b06a-f634-4e5e-b065-c65c4a69bbfe","webhookId":"8066db73-be61-4f83-96f9-ba4615958d52"},{"parameters":{"requestMethod":"POST","url":"http://host.docker.internal:3000/api/vendors/check","options":{},"bodyParametersUi":{"parameter":[{"name":"phone","value":"={{$json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].split('@')[0]}}"}]}},"name":"Check Vendor API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-224,112],"id":"1477d16f-c52f-4da6-a4a6-66057f3f7518"},{"parameters":{"requestMethod":"POST","url":"={{$env[\"EVOLUTION_API_URL\"]}}/message/sendText/{{$env[\"EVOLUTION_INSTANCE\"]}}","options":{},"bodyParametersUi":{"parameter":[{"name":"number","value":"={{$json[\"body\"][\"data\"][\"key\"][\"remoteJid\"]}}"},{"name":"text","value":"=✅ Login realizado! Bem-vindo, {{$json[\"name\"]}}.\n\nMenu Vendedor:\n1. Lançar Rodada\n2. Ver Pedidos"}]},"headerParametersUi":{"parameter":[{"name":"apikey","value":"={{$env[\"EVOLUTION_API_KEY\"]}}"}]}},"name":"Send Success","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"a0207bbb-05fc-484b-9163-6366c123464c"}],"connections":{"Webhook":{"main":[[{"node":"Check Vendor API","type":"main","index":0}]]},"Check Vendor API":{"main":[[{"node":"Send Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d664020b-c0b1-4938-a9b8-fac1333f758b","versionCounter":9,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-03T07:44:25.332Z","createdAt":"2025-12-03T07:44:25.332Z","role":"workflow:owner","workflowId":"p3ZUD50wvdiCQ8co","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-03T07:44:50.000Z","createdAt":"2025-12-03T07:44:50.579Z","id":"m3RTGUBre8oaGwWA","name":"ZaptFood - Greeting & Menu","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"webhook","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-448,112],"id":"9fb9ae8c-4a3f-48aa-af82-37d6ed5ccd18","webhookId":"3864dc76-7f3b-41d7-9b84-f8d9d911209c"},{"parameters":{"dataType":"string","value1":"={{$json[\"body\"][\"data\"][\"message\"][\"conversation\"]}}","rules":{"rules":[{"value2":"Oi"},{"value2":"Ola"},{"value2":"Menu"}]}},"name":"Check Greeting","type":"n8n-nodes-base.switch","typeVersion":1,"position":[-224,112],"id":"67d62147-46b4-4d5e-8ddd-e6a89af94b3d"},{"parameters":{"requestMethod":"POST","url":"={{$env[\"EVOLUTION_API_URL\"]}}/message/sendText/{{$env[\"EVOLUTION_INSTANCE\"]}}","options":{},"bodyParametersUi":{"parameter":[{"name":"number","value":"={{$json[\"body\"][\"data\"][\"key\"][\"remoteJid\"]}}"},{"name":"text","value":"👋 Olá! Bem-vindo ao ZaptFood.\n\nEscolha uma opção:\n1. 🍔 Fazer Pedido\n2. 🏪 Sou Vendedor\n3. 🆘 Suporte"}]},"headerParametersUi":{"parameter":[{"name":"apikey","value":"={{$env[\"EVOLUTION_API_KEY\"]}}"}]}},"name":"Send Menu","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"43fc2586-22b8-4fae-8ec7-805e1741feb6"}],"connections":{"Webhook":{"main":[[{"node":"Check Greeting","type":"main","index":0}]]},"Check Greeting":{"main":[[{"node":"Send Menu","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f3fa74ce-db01-415d-ab2d-8d5c8423db4d","versionCounter":9,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-03T07:44:50.584Z","createdAt":"2025-12-03T07:44:50.584Z","role":"workflow:owner","workflowId":"m3RTGUBre8oaGwWA","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-05T01:39:47.000Z","createdAt":"2025-12-05T01:31:04.282Z","id":"FGST2AGqQwo5e8CG","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"f0977cce-3db3-4b22-ad22-d4f8df092b65","webhookId":"0c28495b-0bef-46c5-9cfd-45c50badb2af"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"908db6fe-3f31-4c33-8141-1e1c8ba5402b"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"df766ecc-d622-4bea-823a-d40a7d87735d","continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"2d89ac4c-1570-43f3-9df6-c62cb6beb99c"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\\\d+ \\\\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"9f1654c9-c9e3-4f19-9dd4-e5cb8cb6e676"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"e5461391-c650-4859-b329-760abcaae5aa"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"b4db22bb-d8e0-4fd4-8d26-44139dc766d7"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"e7dd88eb-b79e-4139-835f-c9c1768defb5"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"b4588288-62cf-462a-99f1-658067ddb0e2"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"a1b4e796-a417-4515-80f1-eac460091e8b"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"03938af0-c1d6-4c5c-b7a2-8a8c56b254d2"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"9749cae7-a351-46ad-91f3-8b3a1d8f0ee3"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"e925ff18-a6a0-434c-b75e-6736d6db1bc9"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nreturn [{ json: { text } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"65d0ecc3-0b45-49fd-8e0a-eff0946b4e30"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"97763bab-3cbc-4909-9e18-386409628dd5"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"186a72b1-74c1-4fdb-abc1-793dc964ac57"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^\\\\d+$"}]}},"name":"Is Order?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,912],"id":"afd15bf7-d90c-4a75-8cde-a6326d27e412"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog Order","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-48,912],"id":"314e0f46-5032-429e-a1c2-b3a6967a0d4f"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst index = parseInt(msg) - 1;\nconst products = items.map(i => i.json);\n\nif (index < 0 || index >= products.length) {\n  return [{ json: { error: 'Opção inválida' } }];\n}\n\nconst selected = products[index];\nreturn [{ json: {\n  listing_id: selected.id,\n  customer_phone: $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', ''),\n  qty: 1\n} }];"},"name":"Pick Item","type":"n8n-nodes-base.function","typeVersion":1,"position":[160,912],"id":"dac52298-aebd-4181-bc23-ecbcc3290cb7"},{"parameters":{"url":"http://host.docker.internal:3000/api/orders","options":{}},"name":"Create Order API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[352,912],"id":"86310cbc-9344-4dd0-9133-e197b29970ea"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Intro","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[560,912],"id":"674aad99-18b6-4f10-a0aa-b4d9eff8b74b"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Code","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[752,912],"id":"7e9155e7-7603-457f-a933-3b15c1b74250"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Is Order?","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]},"Is Order?":{"main":[[{"node":"Get Catalog Order","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Get Catalog Order":{"main":[[{"node":"Pick Item","type":"main","index":0}]]},"Pick Item":{"main":[[{"node":"Create Order API","type":"main","index":0}]]},"Create Order API":{"main":[[{"node":"Reply Pix Intro","type":"main","index":0}]]},"Reply Pix Intro":{"main":[[{"node":"Reply Pix Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8131e361-d23d-4d8b-9df8-8b4cd9dc55b9","versionCounter":4,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-05T01:31:04.320Z","createdAt":"2025-12-05T01:31:04.320Z","role":"workflow:owner","workflowId":"FGST2AGqQwo5e8CG","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-05T01:44:03.000Z","createdAt":"2025-12-05T01:43:43.367Z","id":"VXgcekpoDmWhXqUQ","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"4e21e05f-65fc-4bc3-8b6e-c55409fd1d56","webhookId":"36a7ab89-2f94-403b-afcf-d213421d6c3f"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"5071f259-829b-4986-a4b0-3b8633069cdf"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"165c585a-5fbb-4051-8392-c5e4b33a4f3f","continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"8f5f0d7d-f21d-49aa-b975-e2ab0bf6ae88"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\\\d+ \\\\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"8e1b5147-2026-4e8b-9049-907e27eadea9"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"27b952d5-73a7-4def-90d3-a3a9799619b3"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"5f616117-5085-465c-b296-e1dd38538094"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"06aa9a4a-6f9c-436d-9ac6-982da6454dd4"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"0be8a5b6-54c3-4d23-85b5-6164e04fc667"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"c6e9f823-3410-4636-be88-2cb8ef5fe6d2"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"b01b1fdf-3284-43cb-924b-21d32420f62f"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"9d09256f-327f-4b76-baef-fed4d32d0a70"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"7e9150e5-6bcc-43f9-9eb9-bb325f801dab"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nreturn [{ json: { text } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"f351facc-c261-4380-95ad-cb9aac8f8266"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"4347d754-9ea8-46c0-84c6-8f4ad7223ee7"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"b4c00cd7-51ef-4d74-8efa-1efc60994911"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^\\\\d+$"}]}},"name":"Is Order?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,912],"id":"de916942-ad74-4d73-a553-9a516ec77971"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog Order","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-48,912],"id":"0346879f-d65a-4cd7-be75-41bc949397b6"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst index = parseInt(msg) - 1;\nconst products = items.map(i => i.json);\n\nif (index < 0 || index >= products.length) {\n  return [{ json: { error: 'Opção inválida' } }];\n}\n\nconst selected = products[index];\nreturn [{ json: {\n  listing_id: selected.id,\n  customer_phone: $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', ''),\n  qty: 1\n} }];"},"name":"Pick Item","type":"n8n-nodes-base.function","typeVersion":1,"position":[160,912],"id":"4f2d4812-b428-4e3d-9ed6-e4ccd6986d17"},{"parameters":{"url":"http://host.docker.internal:3000/api/orders","options":{}},"name":"Create Order API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[352,912],"id":"bdd51286-ff28-4173-a183-4ebcb55fb3c6"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Intro","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[560,912],"id":"bc1cfd29-2054-45cc-9888-b7911de260cb"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Code","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[752,912],"id":"c821982e-48c6-4156-9298-0d976cba2da1"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Is Order?","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]},"Is Order?":{"main":[[{"node":"Get Catalog Order","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Get Catalog Order":{"main":[[{"node":"Pick Item","type":"main","index":0}]]},"Pick Item":{"main":[[{"node":"Create Order API","type":"main","index":0}]]},"Create Order API":{"main":[[{"node":"Reply Pix Intro","type":"main","index":0}]]},"Reply Pix Intro":{"main":[[{"node":"Reply Pix Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6f704f75-3f1c-4e87-ae37-44fee116f7fe","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-05T01:43:43.444Z","createdAt":"2025-12-05T01:43:43.444Z","role":"workflow:owner","workflowId":"VXgcekpoDmWhXqUQ","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-05T01:57:44.000Z","createdAt":"2025-12-05T01:49:20.764Z","id":"PT9RGJ6Sd4n6Z2Wa","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"15259e8d-663b-4312-9b8e-a86585331cc1","webhookId":"72acde99-6660-42e6-b0f3-5acfe90e8536"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"58667ce6-9d53-4f38-92ce-cd11d0d166a8"},{"parameters":{"requestMethod":"POST","url":"http://host.docker.internal:3000/api/vendors/check","options":{},"bodyParametersUi":{"parameter":[{"name":"phone","value":"=={{$json.body.data.key.remoteJid.split('@')[0]}}"}]}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"608e5fcf-a2ca-470c-8e18-5d3d5047a263","continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"4186dabc-be13-40c4-a56e-9a697004530f"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\\\d+ \\\\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"89830c6f-2748-4ddb-a24e-65898cd0d4bb"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"32912f95-23e1-4680-96e3-be91a9b30acc"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"0d42077e-c801-4dcd-940f-b6554cc108c0"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"6c9172d0-35e2-4f94-a11c-44d74dae9db6"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"426562b7-faaa-4702-9b02-35addab7943c"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"efd1b99f-c0b9-45f6-928d-fcca2973a23d"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"1bd21c8e-f29a-4f64-a5ae-3884b5243f48"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"f3bc31eb-ef10-482d-b0ea-eb20ac29f641"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"0546927a-c5bf-4e56-817a-c8d95f8349a3"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nreturn [{ json: { text } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"82e173eb-795f-4cc1-a540-14c2d547d7f0"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"fbf011d8-a13e-4af7-af8a-99b3272f24db"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"666fc5c6-d773-4e93-bf5e-feff87b85feb"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^\\\\d+$"}]}},"name":"Is Order?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,912],"id":"e87e1b26-70d2-41ed-965e-7ab2062f6c19"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog Order","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-48,912],"id":"156bc347-ff9b-4bf9-a387-457de8ae1a46"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst index = parseInt(msg) - 1;\nconst products = items.map(i => i.json);\n\nif (index < 0 || index >= products.length) {\n  return [{ json: { error: 'Opção inválida' } }];\n}\n\nconst selected = products[index];\nreturn [{ json: {\n  listing_id: selected.id,\n  customer_phone: $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', ''),\n  qty: 1\n} }];"},"name":"Pick Item","type":"n8n-nodes-base.function","typeVersion":1,"position":[160,912],"id":"755b03fd-68d7-4c2d-9096-ac0cd8b2d4f3"},{"parameters":{"url":"http://host.docker.internal:3000/api/orders","options":{}},"name":"Create Order API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[352,912],"id":"c7956648-57da-40f4-9ea4-055c3190d25c"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Intro","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[560,912],"id":"e8e7c419-03d4-4802-bdab-ed62456aaffe"},{"parameters":{"url":"http://evolution-api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Code","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[752,912],"id":"96e35049-6088-4dd8-9cc5-5d33fa59bb10"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Is Order?","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]},"Is Order?":{"main":[[{"node":"Get Catalog Order","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Get Catalog Order":{"main":[[{"node":"Pick Item","type":"main","index":0}]]},"Pick Item":{"main":[[{"node":"Create Order API","type":"main","index":0}]]},"Create Order API":{"main":[[{"node":"Reply Pix Intro","type":"main","index":0}]]},"Reply Pix Intro":{"main":[[{"node":"Reply Pix Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e4dd6007-79b5-43bc-8f5c-42e606758617","versionCounter":4,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-05T01:49:20.843Z","createdAt":"2025-12-05T01:49:20.843Z","role":"workflow:owner","workflowId":"PT9RGJ6Sd4n6Z2Wa","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-06T00:20:37.000Z","createdAt":"2025-12-05T01:58:08.866Z","id":"ALKHrzdTxBsGmt42","name":"ZaptFood Main Bot","description":null,"active":true,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"9202cf48-0571-43f3-b412-a4b3bb000b77","webhookId":"b095c5f7-5765-4775-aeb7-38f42ec88d16"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"f86802cf-b043-451a-9858-e66c339660d7"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"f56f5326-ce80-4eb8-818f-35cd884ac764","continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"d4d8bb0e-c37e-4695-b012-2dee9b64dca4"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\\\d+ \\\\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"905058b6-48dd-484c-8b2b-c77d95df34b0"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"11cc7fdb-f529-4128-a15d-91f6702dcdb3"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"db6f941c-2e9c-4667-b1fe-2c085c142f01"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"f0da1ef4-ebec-43eb-a6f6-68dcf38001cf"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"78bce431-8033-4720-9f0e-d676f64a66ab"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"da20f7d6-3db8-4137-b3ef-196334801004"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"2cf0f043-a516-4f65-980e-8d976eb94d37"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"16192078-0e9c-4675-827b-e62038a01a30"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"19b06132-d8c9-45f7-ae7b-0105611c33c4"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nconst phone = $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\nreturn [{ json: { text, phone } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"0c3dec85-7580-4639-982f-b67441386651"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"eafe1066-27aa-4fab-b492-9db950155b85"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"f92cdec7-a193-40cf-8cea-367a5706f1ef"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^\\\\d+$"}]}},"name":"Is Order?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,912],"id":"23838827-b3b4-4b3b-8372-33a412fe8e28"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog Order","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-48,912],"id":"615bb0c6-4439-4aa2-8fdf-142eba484ad7"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst index = parseInt(msg) - 1;\nconst products = items.map(i => i.json);\n\nif (index < 0 || index >= products.length) {\n  return [{ json: { error: 'Opção inválida' } }];\n}\n\nconst selected = products[index];\nconst phone = $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\nreturn [{ json: {\n  listing_id: selected.id,\n  customer_phone: phone,\n  qty: 1,\n  phone: phone\n} }];"},"name":"Pick Item","type":"n8n-nodes-base.function","typeVersion":1,"position":[160,912],"id":"0debbdb5-a508-4e6b-b88e-54dfa857fd02"},{"parameters":{"url":"http://host.docker.internal:3000/api/orders","options":{}},"name":"Create Order API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[352,912],"id":"64b6f24c-3f0a-4c14-acfa-871ba7730c29"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Intro","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[560,912],"id":"df3f5097-8886-4935-aadd-4445aea9b078"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Code","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[752,912],"id":"273f746e-da9d-4112-9cb8-0820c2dd0ac6"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Is Order?","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]},"Is Order?":{"main":[[{"node":"Get Catalog Order","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Get Catalog Order":{"main":[[{"node":"Pick Item","type":"main","index":0}]]},"Pick Item":{"main":[[{"node":"Create Order API","type":"main","index":0}]]},"Create Order API":{"main":[[{"node":"Reply Pix Intro","type":"main","index":0}]]},"Reply Pix Intro":{"main":[[{"node":"Reply Pix Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5ff75087-b7f1-4471-ad7f-4a2d4fefb812","versionCounter":7,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-05T01:58:08.877Z","createdAt":"2025-12-05T01:58:08.877Z","role":"workflow:owner","workflowId":"ALKHrzdTxBsGmt42","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-05T09:41:35.000Z","createdAt":"2025-12-05T09:25:07.193Z","id":"D4IWPJsYM05dihfI","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"df86aba3-82e6-4d05-8f10-d25966d8ef4a","webhookId":"71009b72-8f39-44de-b75b-25f5f3cc1237"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"df4fbc85-8b05-4e03-a495-c068744906da"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"2937f5ae-949d-4098-8f9a-14aa216f231e","continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"7a725925-4bea-492b-8909-9f6b531d247c"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\\\d+ \\\\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"e541d466-0e09-44b4-b2f7-8cda0c74f46a"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"249d91b5-e2e7-401b-bc87-4503edee57d2"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"8774ceca-d9aa-4c9b-81e9-19f79b91835a"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"b704c84c-6cc0-4dfd-bee4-64d4e862be50"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"c8022eba-73af-4561-ad75-2f3b2aee46cb"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"7bf4919f-9439-4a8d-aae7-db9b4c2c142f"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"20ff959b-0d76-4784-b903-6f8e46b4ccf9"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"88836d6f-b757-4e5e-a815-28389c459139"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"4d6482a5-96bb-498a-9ec3-bd15747553eb"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nconst phone = $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\nreturn [{ json: { text, phone } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"fb4b7414-1cbc-4b45-b8cf-89efa36cb7eb"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"0b778ee5-036c-47b7-88ab-44a3bf83c425"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"c9dc4af4-14ac-4e78-a806-0cbc18f00d68"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^\\\\d+$"}]}},"name":"Is Order?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,912],"id":"cba4792a-28cb-4f78-a0a9-b7793faff79e"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog Order","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-48,912],"id":"3b427453-6511-489f-b463-d55aae104a28"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst index = parseInt(msg) - 1;\nconst products = items.map(i => i.json);\n\nif (index < 0 || index >= products.length) {\n  return [{ json: { error: 'Opção inválida' } }];\n}\n\nconst selected = products[index];\nconst phone = $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\nreturn [{ json: {\n  listing_id: selected.id,\n  customer_phone: phone,\n  qty: 1,\n  phone: phone\n} }];"},"name":"Pick Item","type":"n8n-nodes-base.function","typeVersion":1,"position":[160,912],"id":"0f29dcda-bd14-4f6c-87ae-52e3b9cf575c"},{"parameters":{"url":"http://host.docker.internal:3000/api/orders","options":{}},"name":"Create Order API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[352,912],"id":"9fdeeec9-1a6f-4eaa-90b5-ac99639a303b"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Intro","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[560,912],"id":"66491545-7b5d-4720-8e90-1bde3c86aaac"},{"parameters":{"url":"http://evolution_api:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Code","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[752,912],"id":"f1a00e8d-b0b8-418f-bae1-8a705e221069"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Is Order?","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]},"Is Order?":{"main":[[{"node":"Get Catalog Order","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Get Catalog Order":{"main":[[{"node":"Pick Item","type":"main","index":0}]]},"Pick Item":{"main":[[{"node":"Create Order API","type":"main","index":0}]]},"Create Order API":{"main":[[{"node":"Reply Pix Intro","type":"main","index":0}]]},"Reply Pix Intro":{"main":[[{"node":"Reply Pix Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"076ed4c6-ac9d-41a0-90d1-8c3407a7ec1a","versionCounter":6,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-05T09:25:07.212Z","createdAt":"2025-12-05T09:25:07.212Z","role":"workflow:owner","workflowId":"D4IWPJsYM05dihfI","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-06T00:45:27.000Z","createdAt":"2025-12-05T09:42:00.536Z","id":"WrVIhe5OEuGW07hU","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"5bf77534-3dac-456c-a99e-2d7d88ed86c7","webhookId":"e1079224-1c6d-40c6-a509-639c51333a56"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"1a4b0803-19b6-490e-9efd-3dcb7182c33d"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"8cfedd90-ed24-43a3-8f44-dd7230618f41","continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"5b38b2c6-5b2a-4384-ac75-9b0b726be787"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\\\d+ \\\\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"eb8ad6f3-eae3-43c9-8ba2-8e81581cee08"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"814da37d-c358-4d51-8bb6-3bb28c7e7d21"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"5fc6bc3f-3f11-401c-81a6-d31cb218d775"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"b43cf96d-f500-4892-831f-b811dcd42f51"},{"parameters":{"url":"http://172.19.0.4:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"6c3436b7-2dc3-4ad1-aae4-960572f8f037"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"38f73edd-473a-40d0-9380-6bfbcb3fa736"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"68a7d560-7547-4a38-be6f-622868324c94"},{"parameters":{"url":"http://172.19.0.4:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"b7c0dabb-5c37-4547-bde3-b1270ef1568d"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"ba8c9df3-2000-4665-829b-73e189aac189"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nconst phone = $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\nreturn [{ json: { text, phone } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"7c7f849f-6a97-49f1-9d39-46c8a50c5c0b"},{"parameters":{"url":"http://172.19.0.4:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"939ca17e-645b-473d-8227-85e615a3e354"},{"parameters":{"url":"http://172.19.0.4:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"67848906-0368-4946-9025-dec6b456496e"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^\\\\d+$"}]}},"name":"Is Order?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,912],"id":"f97d97e4-d7f2-4964-975a-44ec49784669"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog Order","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-48,912],"id":"ebf7a905-fe6d-4a6b-8ab8-70c410308b5d"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst index = parseInt(msg) - 1;\nconst products = items.map(i => i.json);\n\nif (index < 0 || index >= products.length) {\n  return [{ json: { error: 'Opção inválida' } }];\n}\n\nconst selected = products[index];\nconst phone = $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\nreturn [{ json: {\n  listing_id: selected.id,\n  customer_phone: phone,\n  qty: 1,\n  phone: phone\n} }];"},"name":"Pick Item","type":"n8n-nodes-base.function","typeVersion":1,"position":[160,912],"id":"88123e24-2a93-47e4-9ea2-9afdf552c23e"},{"parameters":{"url":"http://host.docker.internal:3000/api/orders","options":{}},"name":"Create Order API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[352,912],"id":"aeaf9229-9219-48cd-8d81-229a9a871338"},{"parameters":{"url":"http://172.19.0.4:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Intro","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[560,912],"id":"6c7a0b5c-9ee8-4d72-aaec-e226571cf28c"},{"parameters":{"url":"http://172.19.0.4:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Code","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[752,912],"id":"974f8cc3-de39-41ac-a398-d2229be0c827"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Is Order?","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]},"Is Order?":{"main":[[{"node":"Get Catalog Order","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Get Catalog Order":{"main":[[{"node":"Pick Item","type":"main","index":0}]]},"Pick Item":{"main":[[{"node":"Create Order API","type":"main","index":0}]]},"Create Order API":{"main":[[{"node":"Reply Pix Intro","type":"main","index":0}]]},"Reply Pix Intro":{"main":[[{"node":"Reply Pix Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3693d778-f437-4ec9-b900-214b5394fd05","versionCounter":8,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-05T09:42:00.569Z","createdAt":"2025-12-05T09:42:00.569Z","role":"workflow:owner","workflowId":"WrVIhe5OEuGW07hU","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-05T23:31:24.000Z","createdAt":"2025-12-05T23:31:23.418Z","id":"t10fyxJFXfGRVyiK","name":"My workflow 5","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"cab69cdb-69ac-4cfa-ae87-abcbb66000f7"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[0,0],"id":"82466427-be66-4c5d-b586-50cd8a4c8389","name":"MCP Server Trigger","webhookId":"cab69cdb-69ac-4cfa-ae87-abcbb66000f7"}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6be388b6-927b-4178-a1fe-6ff554daeb94","versionCounter":7,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-05T23:31:23.438Z","createdAt":"2025-12-05T23:31:23.438Z","role":"workflow:owner","workflowId":"t10fyxJFXfGRVyiK","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]}]