deactivate_old_full.json
[{"updatedAt":"2025-12-06T10:36:35.000Z","createdAt":"2025-12-05T09:42:00.536Z","id":"WrVIhe5OEuGW07hU","name":"ZaptFood Main Bot","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1152,512],"id":"5bf77534-3dac-456c-a99e-2d7d88ed86c7","webhookId":"e1079224-1c6d-40c6-a509-639c51333a56"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body.data.key.fromMe}}","value2":true}]}},"name":"Ignore Self","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,512],"id":"1a4b0803-19b6-490e-9efd-3dcb7182c33d"},{"parameters":{"url":"http://host.docker.internal:3000/api/vendors/check","options":{}},"name":"Check Vendor","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-704,512],"id":"8cfedd90-ed24-43a3-8f44-dd7230618f41","continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error === undefined}}","value2":true}]}},"name":"Is Vendor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,512],"id":"5b38b2c6-5b2a-4384-ac75-9b0b726be787"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^[Ll]an[çc]ar \\\\d+ \\\\d+"}]}},"name":"Is Launch?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,304],"id":"eb8ad6f3-eae3-43c9-8ba2-8e81581cee08"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^-\\\\d+"}]}},"name":"Is Decrement?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,512],"id":"814da37d-c358-4d51-8bb6-3bb28c7e7d21"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst parts = msg.split(' ');\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  qty: parseInt(parts[1]),\n  price: parseFloat(parts[2])\n};"},"name":"Parse Launch","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,208],"id":"5fc6bc3f-3f11-401c-81a6-d31cb218d775"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"API Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,208],"id":"b43cf96d-f500-4892-831f-b811dcd42f51"},{"parameters":{"url":"http://172.19.0.4:8080/message/sendText/zaptfood","options":{}},"name":"Reply Launch","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,208],"id":"6c3436b7-2dc3-4ad1-aae4-960572f8f037"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst amount = parseInt(msg.replace('-', ''));\nreturn {\n  vendor_id: $node[\"Check Vendor\"].json.id,\n  amount: amount\n};"},"name":"Parse Decrement","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,400],"id":"38f73edd-473a-40d0-9380-6bfbcb3fa736"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings/decrement","options":{}},"name":"API Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[208,400],"id":"68a7d560-7547-4a38-be6f-622868324c94"},{"parameters":{"url":"http://172.19.0.4:8080/message/sendText/zaptfood","options":{}},"name":"Reply Decrement","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[400,400],"id":"b7c0dabb-5c37-4547-bde3-b1270ef1568d"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-256,704],"id":"ba8c9df3-2000-4665-829b-73e189aac189"},{"parameters":{"functionCode":"const products = items.map(i => i.json);\nlet text = \"🍗 *Frango na Hora* - Disponíveis Agora:\\n\\n\";\n\nif (products.length === 0 || (products.length === 1 && Object.keys(products[0]).length === 0)) {\n  text += \"😔 Nenhuma fornada saindo agora. Tente mais tarde!\";\n} else {\n  products.forEach((item, index) => {\n    text += `*${index + 1}. ${item.vendor}*\\n`;\n    text += `   💰 R$ ${Number(item.price).toFixed(2)}\\n`;\n    text += `   🔥 ${item.qty} unidades prontas\\n`;\n    text += `   📍 ${item.vendor_location || 'Local não informado'}\\n\\n`;\n  });\n  text += \"Responda com o número para pedir!\";\n}\n\nconst phone = $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\nreturn [{ json: { text, phone } }];"},"name":"Format Catalog","type":"n8n-nodes-base.function","typeVersion":1,"position":[-48,704],"id":"7c7f849f-6a97-49f1-9d39-46c8a50c5c0b"},{"parameters":{"url":"http://172.19.0.4:8080/message/sendText/zaptfood","options":{}},"name":"Send Catalog","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[160,704],"id":"939ca17e-645b-473d-8227-85e615a3e354"},{"parameters":{"url":"http://172.19.0.4:8080/message/sendText/zaptfood","options":{}},"name":"Vendor Help","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"67848906-0368-4946-9025-dec6b456496e"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text}}","operation":"regex","value2":"^\\\\d+$"}]}},"name":"Is Order?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,912],"id":"f97d97e4-d7f2-4964-975a-44ec49784669"},{"parameters":{"url":"http://host.docker.internal:3000/api/listings","options":{}},"name":"Get Catalog Order","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-48,912],"id":"ebf7a905-fe6d-4a6b-8ab8-70c410308b5d"},{"parameters":{"functionCode":"const msg = $node[\"Webhook\"].json.body.data.message.conversation || $node[\"Webhook\"].json.body.data.message.extendedTextMessage.text;\nconst index = parseInt(msg) - 1;\nconst products = items.map(i => i.json);\n\nif (index < 0 || index >= products.length) {\n  return [{ json: { error: 'Opção inválida' } }];\n}\n\nconst selected = products[index];\nconst phone = $node[\"Webhook\"].json.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\nreturn [{ json: {\n  listing_id: selected.id,\n  customer_phone: phone,\n  qty: 1,\n  phone: phone\n} }];"},"name":"Pick Item","type":"n8n-nodes-base.function","typeVersion":1,"position":[160,912],"id":"88123e24-2a93-47e4-9ea2-9afdf552c23e"},{"parameters":{"url":"http://host.docker.internal:3000/api/orders","options":{}},"name":"Create Order API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[352,912],"id":"aeaf9229-9219-48cd-8d81-229a9a871338"},{"parameters":{"url":"http://172.19.0.4:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Intro","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[560,912],"id":"6c7a0b5c-9ee8-4d72-aaec-e226571cf28c"},{"parameters":{"url":"http://172.19.0.4:8080/message/sendText/zaptfood","options":{}},"name":"Reply Pix Code","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[752,912],"id":"974f8cc3-de39-41ac-a398-d2229be0c827"}],"connections":{"Webhook":{"main":[[{"node":"Ignore Self","type":"main","index":0}]]},"Ignore Self":{"main":[[],[{"node":"Check Vendor","type":"main","index":0}]]},"Check Vendor":{"main":[[{"node":"Is Vendor?","type":"main","index":0}]]},"Is Vendor?":{"main":[[{"node":"Is Launch?","type":"main","index":0}],[{"node":"Is Order?","type":"main","index":0}]]},"Is Launch?":{"main":[[{"node":"Parse Launch","type":"main","index":0}],[{"node":"Is Decrement?","type":"main","index":0}]]},"Parse Launch":{"main":[[{"node":"API Launch","type":"main","index":0}]]},"API Launch":{"main":[[{"node":"Reply Launch","type":"main","index":0}]]},"Is Decrement?":{"main":[[{"node":"Parse Decrement","type":"main","index":0}],[{"node":"Vendor Help","type":"main","index":0}]]},"Parse Decrement":{"main":[[{"node":"API Decrement","type":"main","index":0}]]},"API Decrement":{"main":[[{"node":"Reply Decrement","type":"main","index":0}]]},"Get Catalog":{"main":[[{"node":"Format Catalog","type":"main","index":0}]]},"Format Catalog":{"main":[[{"node":"Send Catalog","type":"main","index":0}]]},"Is Order?":{"main":[[{"node":"Get Catalog Order","type":"main","index":0}],[{"node":"Get Catalog","type":"main","index":0}]]},"Get Catalog Order":{"main":[[{"node":"Pick Item","type":"main","index":0}]]},"Pick Item":{"main":[[{"node":"Create Order API","type":"main","index":0}]]},"Create Order API":{"main":[[{"node":"Reply Pix Intro","type":"main","index":0}]]},"Reply Pix Intro":{"main":[[{"node":"Reply Pix Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3693d778-f437-4ec9-b900-214b5394fd05","versionCounter":16,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-05T09:42:00.569Z","createdAt":"2025-12-05T09:42:00.569Z","role":"workflow:owner","workflowId":"WrVIhe5OEuGW07hU","projectId":"WSwDe9gPrA1y62FW","project":{"updatedAt":"2025-11-29T12:50:15.506Z","createdAt":"2025-11-28T09:16:56.816Z","id":"WSwDe9gPrA1y62FW","name":"Rilton Souza <riltons@gmail.com>","type":"personal","icon":null,"description":null}}]}]